    <!DOCTYPE html>
    <!doctype html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<title>Hello from Flask</title>
{% if name %}
<h1>Hello {{ name }}!</h1>
{% else %}
<h1>Hello World!</h1>
{% endif %}


<input type="button" id="button" value="RED">
<input type="button" id="button2" value="BLUE">
<input type="button" id="button1" value="GREEN">
<input type="button" id="button3" value="WHITE">


<script>
$("#button").click(function( event){
//        event.preventDefault();
        $.post("/api/receive_colors",
        {
        color: "RED"
        },                                         
        function(data, status){
        alert("Data: " + data + "\nStatus: " + status);                                        });
         });

</script>



<script>
$("#button1").click(function( event){
//        event.preventDefault();
        $.post("/api/receive_colors",
        {
        color: "GREEN"
        },                                         
        function(data, status){
        alert("Data: " + data + "\nStatus: " + status);                                        });
         });

</script>

<script>
$("#button2").click(function( event){
//        event.preventDefault();
        $.post("/api/receive_colors",
        {
        color: "BLUE"
        },                                         
        function(data, status){
        alert("Data: " + data + "\nStatus: " + status);                                        });
         });

</script>

<script>
$("#button3").click(function( event){
//        event.preventDefault();
        $.post("/api/receive_colors",
        {
        color: "WHITE"
        },                                         
        function(data, status){
        alert("Data: " + data + "\nStatus: " + status);                                        });
         });

</script>








