    <!DOCTYPE html>
    <!doctype html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<input type="button" id="button" value="Click me">


<script>
$("#button").click(function( event){
//        event.preventDefault();
        $.post("/api/receive_colors",
        {
        color: "RED"
        },                                         
        function(data, status){
        alert("Data: " + data + "\nStatus: " + status);                                        });
         });

</script>



<title>Hello from Flask</title>
{% if name %}
<h1>Hello {{ name }}!</h1>
{% else %}
<h1>Hello World!</h1>
{% endif %}

<form action="" method = "post">    
        <input id="lol" type="button" name="color" value="RED">
<form action="http://127.0.0.1:5000/api/receive_colors" method="post">
        <input type="submit" name="color" value="WHITE">
    </form>
<form action="http://127.0.0.1:5000/api/receive_colors" method="post">
        <input type="submit" name="color" value="BLUE">
    </form>
<form action="http://127.0.0.1:5000/api/receive_colors" method="post">
        <input type="submit" name="color" value="GREEN">
    </form>
